<!-- Config file for the game -->

<config>
  <app framerate_cap = "30">
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <gui>
    <atlas file="gui/gui.png"/>
  </gui>

  <map>
    <folder>maps/</folder>
		<map name = "map_test.png"/>		
  </map>
  
  <player_data>
	<velocity value = "200"/>
	<acceleration x = "200" y ="200" />
	<position x = "500" y = "1000"/>
	<gravity value = "250"/>
	<jump velocity_y = "300" velocity_x = "160" height = "300"/>
  	<scale x="3" y="3"/>
  </player_data>

  <entities>
    <player>
	    <speed value = "100"/>
	    <acceleration valeu = "200" />
	    <deceleration value = "20" />	
	    <position x = "500" y = "1000"/>
	    <gravity value = "100"/>
	    <jump_height value = "300" />
      <jump_speed value = "600" />
      <scale x="1" y="1"/>
    </player>
  </entities>

</config>